BasedOnStyle: LLVM
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
SortIncludes: true
AccessModifierOffset: -4
ColumnLimit: 80
BreakAfterAttributes: Leave
MacroBlockBegin: "^BPASS_BEGIN|IPASS_BEGIN$"
MacroBlockEnd: "^BPASS_END|IPASS_END$"
